@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}

/* nav style start here */
nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-contain{
    display: flex;
    align-items: center;
    gap:10px
}
.nav-items{
    display: flex;
}
.nav-title{
    font-size: 2.5rem;
    font-weight: 700;

}
.color-text{
    color:rgba(255, 66, 165, 1);
}
.nav-item{
    font-size: 1rem;
    margin-left: 20px;
    border: none;
    background-color: rgba(255, 228, 196, 0.041);
    color:rgba(60, 53, 79, 1);
    cursor: pointer;
}
#items-icon{
    background-color: rgba(11, 2, 35, 0.1);
    padding: 10px 15px;
    border-radius: 10px;
}
/* nav style end */

/* hero section style start here */
.hero{
    background-image: url(../resources/Group\ 14.png);
    background-repeat: no-repeat;
}
.hero-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.left-contain{
    max-width: 550px;
    display: flex;
    align-items: center;
}
.hero-title{
    font-size: 3rem;
    font-weight: 700;
    color:rgba(11, 2, 35, 1);
}
#goat{
    background-image: linear-gradient(180deg,rgba(249, 72, 178, 1),rgba(135, 88, 241, 1));
    font-size: 4.5rem;
    font-weight: 800;
    background-clip: text;
    color: transparent;
}
.btn-area{
    margin-top: 20px;
    display: flex;
    gap:15px
}
.btn-primary,
.btn-secondary,
.btn-third{
    font-size: 20px;
    font-weight: 600;
    color:#fff;
    padding: 10px 15px;
    background-color: rgba(255, 66, 165, 1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn-secondary{
    background-color: rgba(78, 197, 247, 1);
}
.hero-des{
    font-size: 20px;
    margin-top: 10px;
}
.right-contain{
    max-width: 550px;

}
.right-contain img{
    width: 100%;
}
/* hero section style end */

/* gammer section style here */
.gammer{
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    
}
.gammer-left{
    max-width: 600px;

}
.gammer-img{
    height:450px;
}
.gammer-img img{
    width: 100%;
    height: 100%;
}
.gammer-right{
    max-width: 550px;
    display: flex;
    align-items: center;
}
.gammer-title{
    background-image: linear-gradient(180deg,rgba(249, 72, 178, 1),rgba(135, 88, 241, 1));
    font-size: 2.8rem;
    font-weight: 700;
    background-clip: text;
    color: transparent; 
    text-align: right;  
}
.gammer-des{
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}
.gammer-btn{
    text-align: right;
    margin: 20px 0;
}
.purpose{
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    color:rgba(114, 99, 150, 0.932);
}
.gammer-contain>h3{
   font-size: 2rem;
   font-weight: 700;
   text-align: right; 
}
/* gammer section style end here */

/* online-game style start here  */
.online-game{
    max-width: 1200px;
    margin: 50px auto;
}
.online-game-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.color{
    background-image: linear-gradient(180deg,rgba(249, 72, 178, 1),rgba(135, 88, 241, 1));
    background-clip: text;
    color: transparent; 
}
.online-game-des{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 20px;
   
}
.card{
    background-color: #cccccc1e;
    padding: 5px 0;
    border-radius: 10px;
    position: relative;
}
.card img{
    width:100%
}
.card img:hover+.card-logo{
   display: block;
}
.card img:hover{
    filter: brightness(20%);
}

.card-des{
    margin-top: 10px;
    padding-left: 4px;
}
.card-logo{
    display: none;
    width:170px;
    position: absolute;
    top:120px;
    right: 70px;
    text-align: center;

}
.logo-title{
    font-size: 1.6rem;
    margin-top: 10px;
    color:#fff;
}
.style-card-icon{
    color:#fff;
    font-size: 45px;
    
}
/* online-game style end here */

/* inst style start here */
.play-instantly{
    max-width: 1200px;
    margin:  auto;
    display: flex;
    justify-content: right;
    
}
.instantly{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:250px;
}
.inst-title{
    font-size: 3rem;
    font-weight: 700;
}
.inst-color{
    color: rgba(249, 72, 178, 1);
}
.inst-des{
    color:#7e7e7edc;
}
.instantly-contain{
    max-width: 350px;
}
.inst-img{
    max-width: 500px;
    position: relative;
}
.img-1{
    width: 450px;
}
.img-1>img{
    width: 100%;
}
.img-2{
    max-width: 300px;
    position: absolute;
    top:300px;
    left:-200px
}
.img-2>img{
    width:100%
}
/* inst style end here */

/* play-game style start here */
.play-game{
    max-width: 1200px;
    margin: 250px auto;
    display: flex;
    justify-content: space-between;
    
}
.play-img{
    max-width: 500px;
    position: relative;
}
.img-play-1{
    width:500px;
}
.img-play-1 img{
    width:100%;
}
.img-play-2{
    width: 280px;
    position: absolute;
    top:300px;
    right: -180px;
}
.img-play-2 img{
    width:100%;
}
.play-contain{
    width: 500px;
    display: flex;
    align-items: center;
}
.play-title{
    font-size: 3rem;
    font-weight: 700;
}
#play-des{
    font-size: 16px;
}
/* play-game style end here */

/* career section style start here */
.careers{
    background-color:  rgba(249, 72, 178, 1);
}
.careers-width{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.left-careers{
    width: 500px;
    display: flex;
    align-items: center;
}
.c-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.career-des{
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
}
.career{
    display: flex;
    justify-content: space-between;
}
.career-list>p,.career-list-2>p{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}
.career-list-2>p{
    font-size: 16px;
}
.right-career{
    max-width: 600px;

}
.right-career img{
    width:100%;
}
.btn-third{
    background-color: #fff;
    color:black
}
/* career section style end here */

/* more-game style start here */
.more-game{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.single-game{
    display: flex;
    align-items: center;
    gap:10px;
}
.single-game >img{
    width:50px;
}
.game-name{
    font-size: 18px;
    font-weight: 600;
}
#game-box{
    border:1px solid rgba(249, 72, 178, 1);
    border-radius: 50px; 
    padding: 10px 20px;
    color: rgba(249, 72, 178, 1);
}
/* more-game style end here */