@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}

/* nav style start here */
nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-contain{
    display: flex;
    align-items: center;
    gap:10px
}
.nav-items{
    display: flex;
}
.nav-title{
    font-size: 2.5rem;
    font-weight: 700;

}
.color-text{
    color:rgba(255, 66, 165, 1);
}
.nav-item{
    font-size: 1rem;
    margin-left: 20px;
    border: none;
    background-color: rgba(255, 228, 196, 0.041);
    color:rgba(60, 53, 79, 1);
    cursor: pointer;
}
#items-icon{
    background-color: rgba(11, 2, 35, 0.1);
    padding: 10px 15px;
    border-radius: 10px;
}
/* nav style end */

/* hero section style start here */
.hero{
    background-image: url(../resources/Group\ 14.png);
    background-repeat: no-repeat;
}
.hero-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.left-contain{
    max-width: 550px;
    display: flex;
    align-items: center;
}
.hero-title{
    font-size: 3rem;
    font-weight: 700;
    color:rgba(11, 2, 35, 1);
}
#goat{
    background-image: linear-gradient(180deg,rgba(249, 72, 178, 1),rgba(135, 88, 241, 1));
    font-size: 4.5rem;
    font-weight: 800;
    background-clip: text;
    color: transparent;
}
.btn-area{
    margin-top: 20px;
    display: flex;
    gap:15px
}
.btn-primary,
.btn-secondary{
    font-size: 20px;
    font-weight: 600;
    color:#fff;
    padding: 10px 15px;
    background-color: rgba(255, 66, 165, 1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn-secondary{
    background-color: rgba(78, 197, 247, 1);
}
.hero-des{
    font-size: 20px;
    margin-top: 10px;
}
.right-contain{
    max-width: 550px;

}
.right-contain img{
    width: 100%;
}
/* hero section style end */