@media screen and (max-width:576px) {
    /* nav style start here */
    nav{
        flex-direction: column;
    }
    .nav-contain{
        margin-bottom: 20px;
    }
    .nav-items{
        flex-direction: column;
        gap:20px
    }
    /* nav style end */
    
    /* hero section style start here */
    .hero-section{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .hero{
        background-image: none;
    }
    .left-contain{
        justify-content: center;
    }
    .hero-contain{
        background-image: url(../resources/Group\ 14.png);
        background-repeat: no-repeat;
    }
}