@media screen and (max-width:576px) {
    /* nav style start here */
    nav{
        flex-direction: column;
    }
    .nav-contain{
        margin-bottom: 20px;
    }
    .nav-items{
        flex-direction: column;
        gap:20px
    }
    /* nav style end */
    
    /* hero section style start here */
    .hero-section{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .hero{
        background-image: none;
    }
    .left-contain{
        justify-content: center;
    }
    .hero-contain{
        background-image: url(../resources/Group\ 14.png);
        background-repeat: no-repeat;
    }
    /* gammer responsive style here */
    .gammer{
        flex-direction: column;
    }
    .gammer-title,
    .gammer-des,
    .gammer-btn,
    .purpose,
    .gammer-contain>h3{
       text-align: center; 
    }

    /* online-game responsive style start here */
    .online-game-title{
        font-size: 2rem;
    }
    .online-game-des{
        font-size: 14px;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    .card{
        width:400px;
        margin: 0 auto;
    }
    
    .card-logo{
        top:150px;
        right: 140px;
    }
    .instantly{
        flex-direction: column;
        gap:50px
    }
    .img-2{
        max-width: 300px;
        position: absolute;
        top:300px;
        left:-30px
    }
}